!!! 5
%html
    %head
        %title Harvard MIT Government Data
        %link{:type => "text/css", :rel => "stylesheet", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css"}
        %link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/jquery.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/underscore.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/underscore.strings.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/underscore.extended.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/jquery.extended.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/common.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/gov.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/frontend.js"}
    %body
        :javascript
            jQuery(function(){
                Frontend.run();
            });
        %div#options
        %div#header
            %h1
                Get
