#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-color;
  font-size: .8em;
  @include box-shadow-inset(0px, -2px, 10px, lighten($steel, 20%));
  nav {
    padding: 3px;
  }
}

$content-left: 20px;
$content-top: 50px;

#content {
/*  margin: auto;*/
  margin-left: $content-left;
  margin-top: 30px;
/*  width: 760px;*/
  height: 100%;
}

$sidebar-width: 250px;
$main-width: 700px;
$search-width: 700px;

#sidebar {
  @include set-size($sidebar-width, 5px, 10px);
  background-color: $bg-color;
  position: fixed;
  top: $content-top;
  left: $content-left;
  margin: 0;
  padding: 0;
  text-align: center;
  & > .inner {
    border-top: 10px solid $cardinal;
    text-align: left;
    margin: 5px;
    padding: 10px;
    @include box-shadow(2px, 2px, 10px, $shadow);
    @include round-all(10px);
  }
  table {
    padding-left: 10px;
    padding-bottom: 25px;
    thead {
      td {
        padding-bottom: 10px;
      }
      font-weight: bold;
      font-size: 1.2em;
    }
    width: 100%;
    td:first-child {
        width: 85%;
    }
  }
  .numFound {
    font-size: 0.9em;
    text-align: right;
  }
}

#main {
  padding-left: $sidebar-width + 5px;
  padding-top: $content-top + 60px;
}

#search {
/*  @include set-size($search-width, 5px, 10px);*/
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  top: $content-top;
  left: $sidebar-width + $content-left;
  width: 60%;
  padding-bottom: 50px;
  & > .inner {
    position: relative;
    margin-top: $content-top;
    border-top: 10px solid $cardinal;
    text-align: left;
    margin: 5px;
    padding: 10px;
    background-color: $bg-color;
    @include box-shadow(2px, 2px, 10px, $shadow);
    @include round-all(10px);
  }
  input {
    font-size: 1.5em;
    width: 99.3%;
  }  
}


#welcome {
  font-size: 1.7em;
  font-weight: bold;
  line-height: normal;
  padding-top: 50px;
}

#instructions {
  font-size: 0.9em;
  margin: 10px 0;
}

.evenodd {
  background-color: RGBA(255,220,220,0.5);
}

.eveneven {
  background-color: RGBA(255,200,200,0.5);
}

.oddodd {
  background-color: RGBA(255,255,255,0.5);
}

.oddeven {
  background-color: RGBA(255,220,220,0.5);
}

#results {
  padding-bottom: 50px;
  table {
    thead {
      td {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: $cardinal;
        color: #fff;
        div {
          display: block;
        }
      }
      td {
        text-align: center;
        &.query, &.source {
          text-align: left;
        }
        &.query a {
          display: block;
        }
      }
    }
  }
  td {
    padding: 5px;
  }
}

.agency, .subagency {
  display: block;
}

.subagency {
  padding-left: 15px;
  font-size: 0.9em;
}

.query_key {
  font-size: 0.9em;
  font-style: italic;
}


