@import "_constants";
@import "_mixins";

#content {
  margin-left: 0;
}

#floatedArea {
margin-top: 40px;
margin-left: 30px;
/*  margin: auto;
  text-align: center;
  width: 50%;*/
/*  .module {
    text-align: left;
    float: left;
  }*/
}

#rest {
  margin: 30px 0 20px 0;
  width: 100%;
  height: 100%;
}

#table {
  width: 90%;
  height: 40%;
  overflow: auto;
  @include transition(all, .3s, ease-out);
/*  position: absolute;
  top: 50%;
  left: 0;*/
}

#tableHeader ul, #tableData li {
}
#tableData .cell, #tableHeader li {
}

#tableHeader, #tableData, #tableSpacer {
  position: absolute;
}

$tdHeight : 30px;

#tableHeader, #tableData {
  table {
    table-layout: fixed;
    td {
      border: 1px solid #ccc;
      vertical-align:middle;
      height: $tdHeight;
      div {
        height: $tdHeight;
        text-align: center;
        overflow: hidden;
      }
    }
  }
}

#tableHeader {
  top: 0;
  left: 0;
  background-color: white;
  @include transition(all, .3s, ease-out);
}

#tableData {
  top: $tdHeight;
  left: 0;
  background-color: white;
  @include transition(all, .3s, ease-out);
}

#tableContainer {
  position: relative;
  left: 0;
  top: 0;
}

#tableSpacer {
  top: 0;
  left: 0;
}


#timeline {
}

.module {
/*  width: 100px;
  height: 300px;*/
  z-index: 0;
  border-top: 5px solid $cardinal;
  text-align: left;
  margin: 5px;
  padding: 10px;
  @include box-shadow(2px, 2px, 10px, $shadow);
  @include round-all(10px);
}

$colWidth : 200px - 10;

.col1 {
  width: $colWidth;
}
.col2 {
  width: $colWidth * 2;
}
.col3 {
  width: $colWidth * 3;
}
.col4 {
  width: $colWidth * 4;
}

#floatedArea.masoned, #floatedArea.masoned .module {
  @include transition(all, .3s, ease-out);
}