@import partials/reset.sass
@import partials/base.sass

///////////////////////////////////////////////////
// General Formatting
///////////////////////////////////////////////////

body
  margin: 0
  padding: 0
  background:
    color: $bgColor
    image: url('../images/bg.jpg')
    repeat: no-repeat
  font:
    size: 100.01%
    family: 'Droid Sans', arial, serif
  color: $fontColor
  line-height: 1.2

h1, h2, h3, .sitename
  font:
    family: 'Josefin Sans Std Light', arial, serif

.button, .clickable
  +clickable

.small
  font:
    size: 12px
    family: 'Droid Sans', arial, serif

///////////////////////////////////////////////////
// JQuery UI
///////////////////////////////////////////////////

#feedback
  font-size: 1.4em
  .ui-selecting
    background: #FECA40
  .ui-selected
    background: #F39814
    color: white

.selectable
  list-style-type: none
  margin: 0
  padding: 0
  width: 60%
  li
    margin: 3px
    padding: 0.4em
    font-size: 1.4em
    height: 18px

///////////////////////////////////////////////////
// Container
///////////////////////////////////////////////////

#content
  width: 960px
  margin: auto

///////////////////////////////////////////////////
// Header
///////////////////////////////////////////////////

#header
  background-color: $darkBrown
  color: white
  font-size: 20px
  padding: 20px 10px 5px 120px
  ul
    +inline-list
    li
      padding: 5px
      +round(5,5,0,0)


#corner
  position: absolute
  top: 48px
  left: 0

em
  font-style: italic

///////////////////////////////////////////////////
// Footer
///////////////////////////////////////////////////

///////////////////////////////////////////////////
// Find
///////////////////////////////////////////////////

#filterlist
  text-align: center
  width: 940px
  tr
    width: 940px
    td
      width: 240px

#filtercontent
  display: none

#minimap
  padding: 10px
  ul
    +inline-list

select
  border: 1px solid $darkBrown
  font-size: 12px
//  background-color: transparent
  width: 100%


.sitename
  text-align: center
  font-size: 60px
  padding: 10px

#q
  width: 99.2%
  font-size: 200%
  margin: 0.5em 0

#numFound
  position: absolute
  top: 15px
  right: 10px
  color: $bgColor

.result
  padding: 10px
  margin: 10px 0px
  background-color: white
  border-top: 1px solid #a0a990
  border-right: 2px solid #a0a990
  border-bottom: 2px solid #a0a990
  border-left: 1px solid #a0a990
  +round(10,10,10,10)
  .title
    font-weight: bold

#group_container
  text-align: right
  width: 100%

#filters
  border: 1px solid $darkBrown
  +round(5,5,5,5)
  padding: 10px
  overflow: hidden
  ul
    list-style-type: none
    padding: 0
    margin: 0
    +inline-list

#filterbutton
  width: 100%
  text-align: center

#results
  ul
    list-style-type: none
    padding: 0
    margin: 0
    ul
      ul
        padding-left: 16px

///////////////////////////////////////////////////
// Get
///////////////////////////////////////////////////


///////////////////////////////////////////////////
// Theme Colors
///////////////////////////////////////////////////

.c_one
  background-color: $c_one
  &:hover
    background-color: $bgColor
    color: $c_one
.c_two
  background-color: $c_two
  &:hover
    background-color: $bgColor
    color: $c_two
.c_three
  background-color: $c_three
  &:hover
    background-color: $bgColor
    color: $c_three
.c_four
  background-color: $c_four
  &:hover
    background-color: $bgColor
    color: $c_four
.c_five
  background-color: $c_five
  &:hover
    background-color: $bgColor
    color: $c_five


///////////////////////////////////////////////////
// Links
///////////////////////////////////////////////////

a
  text-decoration: none
  color: $linkColor
  &:visited
    color: $linkColor
  &:active
    color: $linkColor
  &:hover
    color: $linkColor
