// Colors
$bgColor: #e7e6ce;
$bgColor: #e2e5e7;
$bgColorTop: #f0f0f0;
$fontColor: #555577;
$fontColor: #333333;
$linkColor: #555577;
$linkColor: #3496f2;
$linkColorH: #fb609c;
$shadowColor: #abab99;

$c_one: #3496f2;
$c_two: #69c134;
$c_three: #fc7f18;
$c_four: #fa121c;
$c_five: #fb609c;

// Layout
$margin: 3;

@mixin clickable {
  &:hover {
    cursor: pointer; } }

@mixin clear {
  clear: both;
  overflow: hidden;
  height: 0; }

@mixin round($tl, $tr, $br, $bl) {
  -moz-border-radius: {
    topleft: #{$tl}px;
    topright: #{$tr}px;
    bottomright: #{$br}px;
    bottomleft: #{$bl}px; };
  -webkit-border: {
    top-left-radius: #{$tl}px;
    top-right-radius: #{$tr}px;
    bottom-right-radius: #{$br}px;
    bottom-left-radius: #{$bl}px; };
  border: {
    top-left-radius: #{$tl}px;
    top-right-radius: #{$tr}px;
    bottom-right-radius: #{$br}px;
    bottom-left-radius: #{$bl}px; }; }

@mixin vertical-gradiant($start, $end) {
  background-image: -webkit-gradient(linear, 0% 10%, 0% 90%, from($start), to($end));
  background-image: -moz-linear-gradient(0% 100% 90deg, $start, $end); }

@mixin opacity($op) {
  opacity: $op; }

//  filter: alpha(opacity=#{$opacity*100})
//  -ms-filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");

// Make an element completely transparent.
@mixin transparent {
  @include opacity(0); }

// Make an element completely opaque.
@mixin opaque {
  @include opacity(1); }

@mixin clickable {
  &:hover {
    cursor: pointer; } }

@mixin inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  li {
    margin: 0px;
    padding: 0px;
    display: inline; } }
