@import "_reset";
@import "_constants";
@import "_mixins";

@import url(http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic);
@import url(http://fonts.googleapis.com/css?family=Cardo);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:regular,italic,bold);

@include global-reset;
/*@include background-gradient(white,$bg_color);*/

/*html {
  padding-bottom: 100px;
}
*/

/*Begin Constants*/
$bg_color: #fafaf3;
$shadow: #999999;

$cardinal: #7B2C2B;
$steel: #535353;
/*End Constants*/

body {
  background-color: $bg_color;
  color: $steel;
  line-height: 1.1em;
  font-family: 'Cardo', Georgia, arial, serif;
  font-size: 12pt; }

h1 {
  font-size: 3em;
}

#header, #footer {
  text-align: center;
}

#header {
  font-size: .8em;
  @include box-shadow-inset(-2px, -2px, 10px, $shadow);
  nav {
    padding: 3px;
  }
}

#footer {
  margin: 20px
}

#content {
  margin: auto;
  margin-top: 50px;
  width: 760px;
  height: 100%;
}

#main {
  @include set-size(600px, 5px, 10px);
  @include box-shadow(2px, 2px, 10px, $shadow);
  @include round-all(10px);
  float: left;
  border-top: 10px solid $cardinal;
}

#sidebar {
  @include set-size(160px, 5px, 10px);
  @include box-shadow(2px, 2px, 10px, $shadow);
  @include round-all(10px);
  float: left;
}

#search {
  input {
    margin-bottom: 20px;
    width: 100%; } }

#collapsed_results {
  .header {
    div {
      width: 33%;
      display: inline-block;
      text-align: center; } }
  .collapsed_result {
    @include clickable;
    padding: 10px;
    margin: 20px 0;
    background-color: RGBA(255, 255, 255, 0.5);
    @include box-shadow(2px, 2px, 10px, $shadow);
    @include round-all(10px); 
    table {
      display: inline-block;
      width: 33%;
      td {
        padding: 5px;
      }
      .key {
        font-size: 0.7em;
        text-align: right;
        border-right: 1px solid #666;
      }
      .value {
        text-align: left;
      }
    }
    &:hover {
      background-color: white;
    }
    .title {
      font-size: 1.1em;
    }
    .sourceSpec {
    }
    .query {
    }}}

#hierarchy_result {
  ul {
    background-color: #f6f6e6;
    border-color: #ccb;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    padding: 5px 30px 10px 10px;
    @include round-all(10px);
    li { 
      padding: 5px 0; } } }

.shadow {
    @include box-shadow(2px,2px,10px,$shadow);
}

#hierarchy_result ul, .collapsed_result {
}

#options {
  background-color: RGBA(105, 193, 52, 0.5);
  text-align: center;
  color: white;
  min-height: 10px;
  #options_form {
    text-align: left;
    padding: 10px;
  }
}

.clickable, .button, a {
  @include clickable;
}

.clear {
  clear: both;
}

#welcome {
  font-size: 1.4em;
}

#instructions {
  font-size: 0.9em;
  margin: 10px 0;
}