@import "_reset";
@import "_mixins";

@include global-reset;

$bubble-color: #FA1;
$bubble-margin: 10px;

.bubble {
  background-color: $bubble-color;
  margin: $bubble-margin;
}

.ChooserElement {
  display:inline;

}