/* line 23, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #000;
  background: none;
  font-size: 10pt;
}

/* line 46, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
.container {
  background: none;
}

/* line 48, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
hr {
  background: #ccc;
  color: #ccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 56, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
hr.space {
  background: #fff;
  color: #fff;
}

/* line 59, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

/* line 61, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
code {
  font-size: .9em;
  font-family: 'andale mono', 'lucida console', monospace;
}

/* line 66, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
a img {
  border: none;
}
/* line 68, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
a:link,
a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}

/* line 73, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
p img.top {
  margin-top: 0;
}

/* line 75, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: .9em;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
.small {
  font-size: .9em;
}

/* line 82, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
.large {
  font-size: 1.1em;
}

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
.quiet {
  color: #999;
}

/* line 86, ../../../../../../.rvm/gems/ruby-1.9.1-p378/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_print.sass */
.hide {
  display: none;
}
