!!! 5
%html
    %head
        %title Gov&#9825;Love
        %link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}
        %link{:type => "text/css", :rel => "stylesheet", :href => "http://github.com/jquery/qunit/raw/master/qunit/qunit.css"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/jquery.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/underscore.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/underscore.strings.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/underscore.extended.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/jquery.extended.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/common.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/govlove.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "/js/frontend.js"}
        %script{:type => "text/javascript", :language => "javascript", :src => "http://github.com/jquery/qunit/raw/master/qunit/qunit.js"}        
        %script{:type => "text/javascript", :language => "javascript", :src => "/test/test.js"}
    %body
        %h1#qunit-header
            QUnit example
        %h2#qunit-banner
        %h2#qunit-userAgent
        %ol#qunit-tests
        %div#qunit-fixture
            test markup, will be hidden
