<div class='results'>
  <% var docs = GovLove.collapse(response.docs); %>
  <% var lastSource = {}; var lastQuery = {}; %>
  <% _.each(docs, function(doc) { %>
  <% var source = doc.sourceSpec; %>
  <% console.log(source); %>
      <div class='result'>
        <div class='title'><%= doc.title %></div>
        <div class='source'><%= doc.sourceSpec %></div>
        <div class='query'><%= doc.query %></div>
      </div>
  <% }); %>
</div>