{% extends "welcome.html" %}

{% block javascript %}
  Find.run();
  Find.max_offset = {{ data["response"]["numFound"] / float(kwargs['per_page']) }};
  Find.q = "{{ kwargs['q'] }}";
  Find.filters = {{ kwargs['jsonfilters'] }};
  Find.registerAutoPaginate();
{% end %}

{% block sidebar %}
  {{ modules.Facet(facets=data["facet_counts"], **kwargs) }}
  <div class="numFound">{{ data["response"]["numFound"] }} Results Found</div>
{% end %}

{% block post-sidebar %}
<div class='logo-name'>
  <div class="b">Harvard - MIT</div>
  <div class="c">Government</div>
  <div class="d"><span>Data</span> Portal</div>
</div>
{% end %}

{% block results %}
  <table>
    <thead>
      <tr>
        <td>Dataset</td>
        <td>Source</td>
        <td>Query</td>
        <td>Volume</td>
        <td width="75px" ></td>
      </tr>
    </thead>
    <tbody>
      {{ modules.Find(data["response"]["docs"], **kwargs) }}
    </tbody>
  </table>
{% end %}