{% extends "welcome.html" %}

{% block javascript %}
  Find.run();
  Find.max_offset = {{ response["numFound"] / float(per_page) }};
  Find.q = "{{ q }}";
  Find.filters = {{ jsonfilters }};
  Find.registerAutoPaginate();
{% end %}

{% block sidebar %}
  {{ modules.Facet(facets=facets, q=q, filters=filters) }}
  <div class="numFound">{{ response["numFound"] }} Results Found</div>
{% end %}

{% block results %}
  <table>
    <thead>
      <tr>
        <td>Dataset</td>
        <td>Source</td>
        <td>Query</td>
        <td>Volume</td>
        <td width="75px" ></td>
      </tr>
    </thead>
    <tbody>
      {{ modules.Find(response["docs"], q=q, filters=filters) }}
    </tbody>
  </table>
{% end %}